{% extends "layout.html" %}
{% block title %}
Welcome to main page
{% endblock %}
{% block content %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="navbar">
<a href="/home" class="navbar-brand">Home</a>
<a href="/about" class="navbar-item">About</a>
<a href="/contact" class="navbar-item">Contact</a>
</div>
<section  class="main1 py-5" id="main">
		<div class="container-fluid py-5">
			<div class="row py-5">
				<div class = "col-lg-12 col-mg-12 py-5 mr-auto">
					<h1 style="text-align:center;">Smart Electric Energy Monitoring System</h1>
                    <p style="text-align:center;"><b>Welcome to this portal </b></p>
                    <img src="{% static 'images/elec.jpg' %}" alt="Board image">
					
				</div>
			</div>
		</div>	 
	</section>
    <script src=" {% static 'js/images.js' %}"></script>
{% endblock %}