.card {
    border-radius: 20px;
    background: linear-gradient(145deg,#72d9f8, #0490c7 );
    box-shadow: 20px 20px 60px #343131;
    
    border: 1px solid rgb(139, 138, 138);
    
}
.container-fluid{
    padding: 0px;
}
.contact{
    padding: 5rem;
    padding-top: 0%;
    padding-bottom: 0%;
}
html{
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    background: linear-gradient(145deg,#c5e7f1, #fdae4e );
    height:100%;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.card img {
    border-radius: 50%;
    background: linear-gradient(145deg,#72d9f8, #0490c7 );
    box-shadow: 20px 20px 60px #72d9f8, -20px -20px 60px #ffffff
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff
}

.neo-button:active {
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: inset 20px 20px 60px #cacaca, inset -20px -20px 60px #ffffff
}

.fa-github {
    color: black
}

.fa-linkedin {
    color: #0077b5
}
.fa-facebook {
    color: #0077b5
}

.fa-google {
    color: #dc4e41
}

.fa-youtube {
    color: #cd201f
}

h3{
    color: black;
}
.word{
    color: black;
}