body{
    background: linear-gradient(to right,#eae9ef, #a599ff );
}
.panel{
    border-radius: 20px;
    background: linear-gradient(145deg,#a2bbff, #6992fa );
    
    box-shadow: 20px 20px 60px #868080, -20px -20px 60px #ffffff;
    
    border: none;
}
.form-gap {
    padding-top: 70px;
}