/* Add a black background color to the top navigation */
.topnav {  
    overflow: hidden;
    box-shadow: 0px 15px 20px -20px rgb(33, 37, 36);
    border-radius: 30px;
  } 
.topnav a {
    float: right;
    color: #010101;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(113, 111, 196);
    border-radius: 30px;
    color: rgb(244, 241, 241);
  }
  
  /* Add a color to the active/current link */
