<!Doctype html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='forgot.css') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    </head>
    <body>
        {% include'nav.html' %}
        <div class="form-gap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">
                
                                <form id="register-form" class="form" action="/forgot_verify_otp_set_pass"  method="POST" >
                
                                <div class="form-group">
                                    <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input id="email" name="email" placeholder="email address" class="form-control"  type="email" value="{{ data }}">
                                    </div><br>
                                    <div>
                                    <input id="email" name="pass1" placeholder="New Passowrd" class="form-control"  type="password">
                                    </div><br>
                                    <div>
                                    <input id="email" name="pass2" placeholder="Confirm Password" class="form-control"  type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" >
                                   
                                </div>
                                 
                                </form>
                
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
         </div>
    </body>
</html>
 