<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='login.css') }}"/>
    </head>
    <body>
        {% include'nav.html' %}
    
    <center><h1 style="color: black;">Login/ Sign In</h1></center>
    <center>
    <div class="main" >
        <div class="sub_main" >
            <div class="left_page">
                
            </div>
            <div class="right_page"> 
                <form action="/login" method="POST">
                    <table class="table">
                        <tr><td><input type="email" name="email" placeholder="Enter Email"></td></tr>
                         <tr><td><input type="text" name="meter_id" placeholder="Energy meter ID"></td></tr>
                        <tr><td><input type="password" name="password" placeholder="Enter Password"></td></tr>
                        <tr></tr><tr></tr><tr></tr>
                        <tr><td><a  href="{{ url_for('forgot') }}">Forgot password?</a></td><td><a href="{{ url_for('register') }}">Sign Up</a></td></tr>
                    </table>
                    <br><br>
                    <input id="submit" type="submit" name="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
    </center>

    </body>
</html>