<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='register.css') }}"/>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('about') }}">About</a>
        </div>
    
    <center><h1 style="color: black;">Register</h1></center>
    <center>
    <div class="main" >
        <div class="sub_main" >
            <div class="right_page"> 
                <form action="https://smart-energy-monitoring.herokuapp.com/register" method="POST">
                  
                    <table class="table">
                        <tr><td><input type="text" name="full_name" placeholder="Name*" required></td><td id="td_right"><input type="tel" name="ph_no" placeholder="Phone no*"  max="10" required></td><td id="td_right"><input type="email" name="email" placeholder="Email*" required></td></tr>
                        <tr><td id=""><input type="text" name="city" placeholder="City"></td><td id="td_right"><input type="text" name="state" placeholder="State"></td><td id="td_right"><select  name="area" required><option value="" disabled selected>Select Area</option><option>Rural</option><option>Urban</option></select></td></tr>
                        <tr><td><input type="text" name="ts_id" placeholder="ThingSpeak ID*" required></td><td id="td_right"><input type="text" name="meter_id" placeholder="Energy Meter ID*" required></td><td id="td_right"><input type="text" name="address" placeholder="Address*" required></td></tr> 
                        <tr></tr> <tr></tr>
                        <tr><td><input type="password" name="password" placeholder="Set Password*" required></td><td id="td_right"><input type="password" name="c_password" placeholder="Confirm Password*" required ></td></tr>                   
                        <tr></tr><tr></tr>
                        <tr><td style="font-size:10px;color:red;">*Requied Field</td></tr>
                        
                    </table>
                    <p style="font-size: 12px;font-weight:bold;">Password should have atleast one Uppercase letter, Lowecase letter, Number and Special character</p>
                    <br><br>
                    <input id="submit" type="submit" name="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
    </center>

    </body>
</html>